{% set os_map = salt['grains.filter_by']({
    'Debian': {
        'pkgrepo': 'deb https://artifacts.elastic.co/packages/5.x/apt stable main',
        'key_url': 'https://packages.elastic.co/GPG-KEY-elasticsearch',
        'file': '/etc/apt/sources.list.d/beat.list',
        'pkg_name': 'filebeat',
        'service_name': 'filebeat'
    },
    'RedHat': {
        'pkgrepo': '',
        'key_url': 'https://packages.elastic.co/GPG-KEY-elasticsearch',
        'file': '/etc/apt/sources.list.d/beat.list',
        'pkg_name': 'filebeat',
        'service_name': 'filebeat'
    },
}, grain='os_family', merge=salt['pillar.get']('elastic:filebeat:lookup'), default='Debian') %}

{% set full_settings = {
    'filebeat': {
        'prospectors': {
            'paths': ['/var/log/*.log'],
            'encoding': 'plain',
            'input_type': 'log',
            'exclude_lines': ['^DBG'],
            'include_lines': ['^ERR', '^WARN'],
            'exclude_files': ['.gz$'],
            'fields': {
                'level': 'debug',
                'review': 1
            },
            'fields_under_root': 'false',
            'ignore_older': '24h',
            'document_type': 'log',
            'scan_frequency': '10s',
            'harvester_buffer_size': 16384,
            'max_bytes': 10485760,
            'json': {
                'message_key': '',
                'keys_under_root': 'false',
                'overwrite_keys': 'false',
                'add_error_key': 'false'
            },
            'multiline': {
                'pattern': '^\[',
                'negate': 'false',
                'match': 'after',
                'max_lines': 500,
                'timeout': '5s',
            },
            'tail_files': 'false',
            'symlinks': 'false',
            'backoff': '1s',
            'max_backoff': '10s',
            'backoff_factor': 2,
            'harvester_limit': 0,
            'close_inactive': '5m',
            'close_renamed': 'false',
            'close_removed': 'true',
            'close_eof': 'false',
            'clean_inactive': 0,
            'clean_removed': 'true',
            'close_timeout': 0,
            'enabled': 'true',
            'deprecated_partial_line_waiting': '5s',
            'deprecated_force_close_files': 'false',
        },
        'spool_size': 1024,
        'publish_async': 'false',
        'idle_timeout': '5s',
        'registry_file': '/var/lib/filebeat/registry',
        'config_dir': '',
        'shutdown_timeout': 0,
        'output': {
            'elasticsearch': {
                'hosts': ['localhost:9200'],
                'compression_level': 0,
                'protocol': 'https',
                'username': 'admin',
                'password': 's3cr3t',
                'parameters': [],
                'worker': 1,
                'index': 'filebeat',
                'pipeline': '',
                'path': '/elasticsearch',
                'proxy_url': 'http://proxy:3128',
                'max_retries': 3,
                'bulk_max_size': 50,
                'timeout': 90,
                'flush_interval': 1,
                'deprecated_save_topology': 'false',
                'deprecated_topology_expire': 15,
                'template': {
                    'enabled': 'true',
                    'name': 'filebeat',
                    'path': '${path.config}/filebeat.template.json',
                    'overwrite': 'false',
                    'versions': {
                        '2x': {
                            'path': '${path.config}/filebeat.template-es2x.json'
                        }
                    },
                },
                'ssl': {
                    'enabled': 'true',
                    'verification_mode': 'full',
                    'supported_protocols': ['TLSv1.0', 'TLSv1.1', 'TLSv1.2'],
                    'certificate_authorities': ['/etc/pki/root/ca.pem'],
                    'certificate': '/etc/pki/client/cert.pem',
                    'key': '/etc/pki/client/cert.key',
                    'key_passphrase': '',
                    'deprecated_insecure': 'true',
                    'cipher_suites': [],
                    'curve_types': [],
                    'deprecated_min_version': '1.0',
                    'deprecated_max_version': '1.2'
                }
            },
            'logstash': {
                'enabled': 'true',
                'hosts': ['localhost:5044'],
                'worker': 1,
                'compression_level': 3,
                'loadbalance': 'true',
                'pipelining': 0,
                'index': 'filebeat',
                'proxy_url': 'socks5://user:password@socks5-server:2233',
                'proxy_use_local_resolver': 'false',
                'ssl': {
                    'enabled': 'true',
                    'verification_mode': 'full',
                    'supported_protocols': ['TLSv1.0', 'TLSv1.1', 'TLSv1.2'],
                    'certificate_authorities': ['/etc/pki/root/ca.pem'],
                    'certificate': '/etc/pki/client/cert.pem',
                    'key': '/etc/pki/client/cert.key',
                    'key_passphrase': '',
                    'deprecated_insecure': 'true',
                    'cipher_suites': [],
                    'curve_types': []
                }
            },
            'kafka': {
                'enabled': 'true',
                'hosts': ['localhost:9092'],
                'topic': 'beats',
                'key': '',
                'partition': {
                    'reachable_only': 'false',
                    'hash': []
                },
                'username': '',
                'password': '',
                'version': 0.8.2,
                'metadata': {
                    'retry': {
                        'max': 3,
                        'backoff': '250ms'
                    },
                    'refresh_frequency': '10m'
                },
                'worker': 1,
                'max_retries': 3,
                'bulk_max_size': 2048,
                'timeout': '30s',
                'broker_timeout': '10s',
                'channel_buffer_size': 256,
                'keep_alive': 0,
                'compression': 'gzip',
                'max_message_bytes': 1000000,
                'required_acks': 1,
                'flush_interval': '1s',
                'client_id': 'beats',
                'ssl': {
                    'enabled': 'true',
                    'verification_mode': 'full',
                    'supported_protocols': ['TLSv1.0', 'TLSv1.1', 'TLSv1.2'],
                    'certificate_authorities': ['/etc/pki/root/ca.pem'],
                    'certificate': '/etc/pki/client/cert.pem',
                    'key': '/etc/pki/client/cert.key',
                    'key_passphrase': '',
                    'cipher_suites': [],
                    'curve_types': []
                }
            },
            'file': {
                'enabled': 'true',
                'path': '/tmp/filebeat',
                'filename': 'filebeat',
                'rotate_every_kb': 10000,
                'number_of_files': 7
            },
            'redis': {
                'enabled': 'true',
                'hosts': ['127.0.0.1'],
                'host': '127.0.0.1',
                'port': 6379,
                'key': '',
                'password': '',
                'deprecated_save_topology': true,
                'index': 'filebeat',
                'db': 0,
                'deprecated_db_topology': 1,
                'password': '',
                'deprecated_reconnect_interval': 1,
                'datatype': 'list',
                'worker': 1,
                'loadbalance': 'true',
                'timeout': '5s',
                'max_retries': 3,
                'bulk_max_size': 2048,
                'proxy_url': '',
                'proxy_use_local_resolver': 'false',
                'ssl': {
                    'enabled': 'true',
                    'verification_mode': 'full',
                    'supported_protocols': ['TLSv1.0', 'TLSv1.1', 'TLSv1.2'],
                    'certificate_authorities': ['/etc/pki/root/ca.pem'],
                    'certificate': '/etc/pki/client/cert.pem',
                    'key': '/etc/pki/client/cert.key',
                    'key_passphrase': '',
                    'cipher_suites': [],
                    'curve_types': []
                }
            },
            'console': {
                'enabled': 'true',
                'pretty': 'false'
            }
        },
        'shipper': {
            'name': '',
            'tags': ['service-X', 'web-tier'],
            'ignore_outgoing': 'true',
            'refresh_topology_freq': 10,
            'topology_expire': 15,
            'geoip': {
                'paths': ['/usr/share/GeoIP/GeoLiteCity.dat', '/usr/local/var/GeoIP/GeoLiteCity.dat']
            },
            'queue_size': 1000,
            'bulk_queue_size': 0,
            'max_procs': ''
        },
        'logging': {
            'to_syslog': 'true',
            'to_files': 'true',
            'files': {
                'path': '/var/log/mybeat',
                'name': 'filebeat',
                'rotateeverybytes': 10485760,
                'keepfiles': 7
            },
            'selectors': [],
            'level': 'info',
            'metrics': {
                'enabled': 'true',
                'period': '30s'
            }
        },
        'path': {
            'home': '',
            'config': '${path.home}',
            'data': '${path.home}/data',
            'logs': '${path.home}/logs',
        }
    }
}%}

{% set default_settings = {
    'filebeat': {
        'prospectors': {
            'paths': ['/var/log/*.log'],
            'input_type': 'log',
            'registry_file': '/var/lib/filebeat/registry'
        },
        'logging': {
            'to_syslog': 'true',
            'to_files': 'true',
            'level': 'error'
        },
        'output': {
            'elasticsearch': {
                'hosts': ['localhost:9200']
            }
        }
    }
}%}

{# Uncomment out to merge in the settings for testing #}
{#% do default_settings.update(full_settings) %#}

{# Merge os_map into default_settings dictionary #}
{% do default_settings.filebeat.update(os_map) %}

{# Update settings defaults from pillar data #}
{% set filebeat_settings = salt['pillar.get']('elastic:filebeat', default=default_settings.filebeat, merge=True) %}
