{% set os_map = salt['grains.filter_by']({
    'Debian': {
        'pkgrepo': 'deb https://packages.elastic.co/beats/apt stable main',
        'key_url': 'https://packages.elastic.co/GPG-KEY-elasticsearch',
        'file': '/etc/apt/sources.list.d/beat.list',
        'pkg_name': 'packetbeat'
    },
    'RedHat': {
        'pkg_name': 'packetbeat'
    },
}, grain="os_family", merge=salt['pillar.get']('elastic:packetbeat:lookup'), default='Debian') %}

{% set full_settings = {
    'packetbeat': {
        'interfaces': {
            'device': 'any'
        },
        'protocols': {
            'dns': {
                'ports': ['53'],
                'include_authorities': 'true',
                'include_additionals': 'true',
                'Default': 'false',
                'send_request': 'true',
                'send_response': 'true'
            },
            'http': {
                'ports': ['80', '8080', '8000', '5000', '8002'],
                'hide_keywords': []
            },
            'memcache': {
                'ports': ['11211'],
                'Default': 'false',
                'parseunknown': 'true',
            },
            'mysql': {
                'ports': ['3306']
            },
            'pgsql': {
                'ports': ['5432']
            },
            'redis': {
                'ports': ['6379']
            },
            'thrift': {
                'ports': ['9090']
            },
            'mongodb': {
                'ports': ['27017']
            }
        },
        'output': {
            'elasticsearch': {
                'hosts': ['localhost:9200'],
                'protocol': 'https',
                'username': 'admin',
                'password': 's3cr3t',
                'worker': 1,
                'index': 'packetbeat',
                'path': '/elasticsearch',
                'max_retries': 3,
                'bulk_max_size': 50,
                'timeout': 90,
                'flush_interval': 1,
                'save_topology': 'false',
                'topology_expire': 15,
                'tls': {
                    'certificate_authorities': ['/etc/pki/root/ca.pem'],
                    'certificate': '/etc/pki/client/cert.pem',
                    'certificate_key': '/etc/pki/client/cert.key',
                    'insecure': 'true',
                    'cipher_suites': [],
                    'curve_types': [],
                    'min_version': '1.0',
                    'max_version': '1.2'
                }
            },
            'logstash': {
                'hosts': ['localhost:5044'],
                'worker': 1,
                'loadbalance': 'true',
                'index': 'packetbeat',
                'tls': {
                    'certificate_authorities': ['/etc/pki/root/ca.pem'],
                    'certificate': '/etc/pki/client/cert.pem',
                    'certificate_key': '/etc/pki/client/cert.key',
                    'insecure': 'true',
                    'cipher_suites': [],
                    'curve_types': []
                }
            },
            'file': {
                'path': '/tmp/packetbeat',
                'filename': 'packetbeat',
                'rotate_every_kb': 10000,
                'number_of_files': 7
            },
            'redis': {
                'host': 'localhost',
                'port': 6379,
                'save_topology': true,
                'index': 'filebeat',
                'db': 0,
                'db_topology': 1,
                'password': '',
                'timeout': 5,
                'reconnect_interval': 1
            },
            'console': {
                'pretty': 'false'
            },
        },
        'shipper': {
            'name': '',
            'tags': ['service-X', 'web-tier'],
            'ignore_outgoing': 'true',
            'refresh_topology_freq': 10,
            'topology_expire': 15,
            'geoip': {
                'paths': ['/usr/share/GeoIP/GeoLiteCity.dat', '/usr/local/var/GeoIP/GeoLiteCity.dat']
            }
        },
        'logging': {
            'to_syslog': 'true',
            'to_files': 'false',
            'files': {
                'path': '/var/log/mybeat',
                'name': 'mybeat',
                'rotateeverybytes': 10485760,
                'keepfiles': 7
            },
            'selectors': [],
            'level': 'error'
        }
    }
}%}

{% set default_settings = {
    'packetbeat': {
        'interfaces': {
            'device': 'any'
        },
        'protocols': {
            'dns': {
                'ports': ['53'],
                'include_authorities': 'true',
                'include_additionals': 'true'
            },
            'http': {
                'ports': ['80', '8080', '8000', '5000', '8002']
            },
            'memcache': {
                'ports': ['11211']
            },
            'mysql': {
                'ports': ['3306']
            },
            'pgsql': {
                'ports': ['5432']
            },
            'redis': {
                'ports': ['6379']
            },
            'thrift': {
                'ports': ['9090']
            },
            'mongodb': {
                'ports': ['27017']
            }
        },
        'output': {
            'elasticsearch': {
                'hosts': ['localhost:9200']
            }
        }
    }
}%}

{# Uncomment out to merge in the settings for testing #}
{#% do default_settings.update(full_settings) %#}

{# Merge os_map into default_settings dictionary #}
{% do default_settings.packetbeat.update(os_map) %}

{# Update settings defaults from pillar data #}
{% set packetbeat_settings = salt['pillar.get']('elastic:packetbeat', default=default_settings.packetbeat, merge=True) %}